source/menu.dtd

<?xml version="1.0" encoding="windows-1250"?>
<!--
Definice pro dokument menu.xml
-->

<!ELEMENT menu (submenu*)>
<!ELEMENT submenu ((object|separator)*)>
<!ATTLIST submenu title CDATA #REQUIRED>
<!ELEMENT separator EMPTY>
<!ELEMENT object EMPTY>
<!ATTLIST object class CDATA #REQUIRED>
<!ATTLIST object title CDATA #REQUIRED>